<h1><%= @title = @role.name %></h1>

<% if current_user.has_role?("admin") -%>
<%= link_to image_tag('/images/icons/pencil.png'), edit_role_path(@role) %>
<%= link_to image_tag('/images/icons/bin_closed.png'), @role, :confirm => 'Are you sure?', :method => :delete %>
<% end -%>

<h2>Assets</h2>

<table>
	<thead>
  <tr>
	<td>FQDN</td>
	<td>Location</td>
	<td>Actions</td>
  </tr>
	</thead>
<tbody>
<% for asset in @role.assets %>
  <tr>
    <td><%= link_to h(asset.fqdn), asset %></td>
    <td><%= link_to h(asset.location.name), asset.location %></td>
    <td>
    <% if current_user.has_role?("admin") -%>
      <%= link_to image_tag('/images/icons/pencil.png'), edit_asset_path(asset) %>
      <%= link_to image_tag('/images/icons/bin_closed.png'), asset, :confirm => 'Are you sure?', :method => :delete %>
    <% end -%>
    </td>
  </tr>
<% end %>
</tbody>
</table>


