<h1><%= @title = "#{h(@interface.user.login)}'s #{h(@interface.model.manufacturer.name)} #{h(@interface.model.name)}" %></h1>

<% if current_user.has_role?("admin") -%>
  <%= link_to image_tag('/images/icons/pencil.png'), edit_interface_path(@interface) %>
  <%= link_to image_tag('/images/icons/bin_closed.png'), @interface, :confirm => 'Are you sure?', :method => :delete %>
<% end -%>

<table>
	<tbody>
		<tr>
			<td>Login</td>
			<td><%= h(@interface.user.login) %></td>
		</tr>
		<tr>
			<td>Manufacturer</td>
			<td><%= h(@interface.model.manufacturer.name) %></td>
		</tr>
		<tr>
			<td>Model</td>
			<td><%= h(@interface.model.name) %></td>
		</tr>

		<tr>
			<td>Serial</td>
			<td><%= h(@interface.serial) %></td>
		</tr>
		<tr>
			<td>Notes</td>
			<td><%= h(@interface.notes) %></td>
		</tr>
		
	
	</tbody>
</table>
