<tr>
	<td>Manufacturer</td>
	<td><%= h(@asset.model.manufacturer.name) %></td>
</tr>
<tr>
	<td>Serial</td>
	<td><%= h(@asset.serial) %></td>
</tr>
<tr>
	<td>CPU</td>
	<td><%= h(@asset.cpu) %></td>
</tr>
<tr>
	<td>Disk Space</td>
	<td><%= h(@asset.disk_space) %></td>
</tr>
<tr>
	<td>Disk Type</td>
	<td><%= h(@asset.disk_type) %></td>
</tr>
